<h2><%= link_to "Add a category", new_category_path %></h2>
<h2><%= link_to "Add a product", new_product_path %></h2>

<br>
  <div class="row">
    <ul>
      <% @categories.each do |cat| %>
        <li><p><%= link_to cat.name, category_path(cat.id) %></p></li>
      <% end %>
    </ul>


      <% @products.each do |product| %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <%= image_tag("money.jpg", width: '50', height: '50')%>
          <br>
          <span style="color: red; font-size: 20px">
          $<%= product.price %> - Stock: <%= product.stock %>
          </span>
          <h3> Name: <%= truncate(product.name, length: 10)%></h3>
          Description: <%= product.description %>
          <br>
          <div id="product<%=product.id%>" >
          <%= link_to 'Edit', edit_product_path(product)%> | <%= link_to "delete", product_path(product.id), method: :delete %>
          <br><br>
          </div>
        </div>
      <% end %>
  </div>
         <div class="container">
          <h1 class="page-header">Administrator Dashboard</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Product number</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Stock</th>
                  <th>Description</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
                <% @products.each_with_index do |product, index| %>
                <tbody>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= product.name%></td>
                    <td><%= product.price%></td>
                    <td><%= product.stock%></td>
                    <td><%= product.description%></td>
                    <td><%= link_to 'Edit', ""%></td>
                    <td><%= link_to "delete", "", method: :delete %></td>
                  </tr>
                </tbody>
                <% end %>
            </table>
          </div>
        </div>

