
<!-- <div class="centered"> -->
<%= form_for @product, url: products_path do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br><br>

  <%= f.label :price %>:
  <%= f.number_field :price, :step => 'any' %><br><br>

  <%= f.label :stock %>:
  <%= f.number_field :stock %><br><br>

  <%= f.label :description %>:<br>
  <%= f.text_area :description %>

<br>
<ul>
  <% @categories.each do |cat| %>
    <li><p><%= check_box_tag "product[#{cat.name}]", "#{cat.id}" %> <%= cat.name %></p></li>
  <% end %>
</ul>

<br>
  <%= f.submit %>

<% end %>
<!-- </div> -->
