<div class="jumbotron my-jumbotron">

<%= link_to image_tag("computer.png", class: "img-thumbnail", alt: "image placeholder", data: { src: "holder.js/200x200" }, width: '250', height: '250'), categories_path%>
<br><br>
<p>Name: <%= @product.name %></p>
<p>Price: <%= @product.price %></p>
<p>Stock: <%= @product.stock %></p>
<p>Description: <%= @product.description %></p>
</div>



